[submodule "scratch-vm"]
	path = gui/scratch-vm
	url = https://github.com/smalruby/scratch-vm.git
[submodule "smalruby3-gui"]
	path = gui/smalruby3-gui
	url = https://github.com/smalruby/smalruby3-gui.git
[submodule "lib/smalruby3"]
	path = lib/smalruby3
	url = https://github.com/smalruby/smalruby3.git
[submodule "lib/dxruby_sdl"]
	path = lib/dxruby_sdl
	url = https://github.com/smalruby/dxruby_sdl.git
[submodule "infra/smalruby-infra"]
	path = infra/smalruby-infra
	url = https://github.com/smalruby/smalruby-infra.git
[submodule "gui/smalruby-koshien"]
	path = gui/smalruby-koshien
	url = https://github.com/smalruby/smalruby-koshien.git
